.c-btn {
  a {
    user-select: none;
  }
  &__menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cBlack;
    width: 70px;
    height: 70px;
    z-index: 101;
    span {
      display: block;
      width: 24px;
      height: 3px;
      margin: 3px 0;
      background-color: $cWhite;
    }
  }
}
